.sidebar {
  width: 30px; /* Adjusted to make the icon visible */
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  position: fixed;
  right: 0;
  top: 0;
  transition: width 0.3s;
  overflow: hidden;
  z-index: 1000;
}

.sidebar-open {
  width: 300px; /* Adjusted width when expanded */
}

.icon {
  font-size: 30px; /* Size of the icon */
  padding: 20px; /* Space around the icon */
  padding-left: 0px;
  cursor: pointer; /* Indicate it's clickable */
  text-align: center;
  color: red;
}

.sidebar-content {
  padding: 20px;
  display: none; /* Hide content initially */
}

.sidebar-open .sidebar-content {
  display: block; /* Show content when expanded */
}

.squad, .online, .offline {
  display: flex;
  flex-direction: column;
}

.squad span, .online span, .offline span {
  margin-bottom: 20px;
}

.squad img {
  margin-bottom: 20px;
}

.squad button, .online button, .offline button {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
  margin: 2px;
  margin-left: 0;
  width: 200px;
}

.squad button:hover, .online button:hover, .offline button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
