.centerpane {
	display: flex !important;
	flex-direction: column !important;
	height: 100vh;
/*	flex: 10;*/
	.center {
		display: flex !important;
		flex-direction: column !important;
		overflow-y: scroll;
		scrollbar-width: none;
		.server {
			background-color: rgba(255,255,255,0.1);
			width: 100vh;
			padding: 60px;
			position: fixed;

		}
		.base{
			margin-top: 20vh;
			padding: 30px;
			padding-left: 0;
			.baseimg{
				display: flex !important;
				gap: 10px !important;
			}
	}
	.buttons {
		display: flex !important;
		gap: 10px;
		padding: 20px;
		button{
			padding: 20px;
			width: 190px;
			background-color: transparent;
			border: none;
			outline: none;
			border-radius: 5px;
			color: white;

			&:hover{
				background-color: green;
			}
		}
	}
	.paraa {
		display: flex !important;
		gap: 30px;
		padding: 30px;
	}
	.fin {
		display: flex !important;
		gap: 20px;
		padding: 30px;
		.settings{
			display: flex !important;
			flex-direction: column !important;

			select {
				padding: 8px;
				width: 100px;
				background-color: transparent;
				color: yellowgreen;
				border: none;
				outline: none;
			}
		}
		.advanced {
			display: flex !important;
			flex-direction: column !important;
		}
		.rules {
			display: flex !important;
			flex-direction: column !important;
		}
		button {
			display: flex !important;
			align-items: center;
			width: 200px;
			padding: 20px;
			gap: 20px;
			background-color: transparent;
			border: none;
			outline: none;
			color: white;

			&:hover {
				background-color: rgba(0, 0, 0, 0.4);
			}
		}
	}
	span{
		padding: 20px;
	}
	.maprotation {
		display: flex !important;
		flex-wrap: wrap !important;
		gap: 8px;
		img {
			opacity:0.6;

			&:hover{
				opacity: 1;
			}
		}
	}
 }
}