.centerpane {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.center {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: none;
}

.server {
  background-color: rgba(255, 255, 255, 0.1);
  width: 100vh;
  padding: 20px;
  position: fixed;
}

.base {
  margin-top: 20vh;
  padding: 30px;
  padding-left: 0;
}

.baseimg {
  display: flex;
  gap: 10px;
}

.buttons {
  display: flex;
  gap: 10px;
  padding: 10px;
}

.buttons button {
  padding: 20px;
  width: 290px;
  height: 50px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  border-top: 1px solid beige;
  outline: none;
  border-radius: 5px;
  color: gold;
  font-weight: bold;
}

.buttons button:hover {
  background-color: cyan;
}

.paraa {
  display: flex;
  gap: 30px;
  padding: 30px;
}

.fin {
  display: flex;
  gap: 20px;
  padding: 30px;
}

.settings {
  display: flex;
  flex-direction: column;
}

.settings select {
  padding: 8px;
  width: 100px;
  background-color: transparent;
  color: yellowgreen;
  border: none;
  outline: none;
}

.advanced {
  display: flex;
  flex-direction: column;
}

.rules {
  display: flex;
  flex-direction: column;
}
.rules input {
	border: none;
	outline: none;
	width: 60px;
	height: 10px;
	background-color: palevioletred;
	color: gold;
	font-size: 26px;
	padding: 10px;
}
.rules input::placeholder {
  color: gold;
}

.fin button {
  display: flex;
  align-items: center;
  width: 280px;
  height: 50px;
  padding: 10px;
  gap: 20px;
  background-color: transparent;
  border:none;
  border-bottom: 1px solid white;
  outline: none;
  color: white;
  font-weight: bold;
}

.fin button:hover {
  background-color: white;
  color: black;
}

span {
  padding: 20px;
}

.image-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.card {
  width: 150px; /* Adjust the width as needed */
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.card img {
  width: 100%;
  height: 75%; /* 75% of the card */
  object-fit: cover;
  opacity: 0.85;
  transition: opacity 0.3s;
  transition: width 1s, height 1s, background-color 1s, transform 1s;
}

.card img:hover {
  opacity: 1;
  transform: rotate(10deg);
}

.card-title {
  padding-bottom: 4px; /* Adjust padding as needed */
  text-align: center;
  text-transform: uppercase;
  color: whitesmoke;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.8);
  height: 25%; /* 25% of the card */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px; /* Adjust font size as needed */
}

.minimapContainer {
  position: fixed;
  bottom: 20px;
  right: 40px;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: white;
}

.minimapMap {
  height: 200px;
  width: 300px;
}
